.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#site-logo {
  background: url(./logo.png);
  background-size: cover;
  width: 90px;
  height: 90px;
}

#main-menu li {
  height: 90px;
  width: 90px;
  text-align: center;
  cursor: pointer;
}

#main-menu li a img {
  margin-top: -15px;
  width: 50px;
}

#main-menu li:nth-child(9) a img {
  margin-top: -10px;
  margin-left: -10px;
  width: 80px;
}

#main-menu li:last-child {
  padding-top: 20px;
}

#main-menu li:hover {
  background: #ededed;
}

.center-img {
  width:80px;
}

.form-group label {
  margin-right: 5px;
}

/*#root .ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
    pointer-events: none;
    opacity: 0.9;
}

.ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled ,.ui.form .field.disabled>label, .ui.form .fields.disabled>label {

    opacity: 0.9;
}*/
.text-right {
    text-align: right;
}
.field.text-right {
  text-align: left;
}

.text-center .ui.input input {
    text-align: center;
}
.text-right .ui.input input {
    text-align: right;
}
div.ui.basic.label{
display: block;
}
div.ui.basic.label.text-center{
    text-align: center;
}
div.ui.basic.label.text-right{
    text-align: right;
}

right {
    text-align: right;
    display: block;
}

.ui.input.text-right input[type="text"] {
    text-align: right;
}

.hidden{
  display: none;
}

.text-cell{
  font-size: 14px;
  font-weight: lighter;  
  text-overflow: ellipsis;
  white-space: nowrap;
}


.ui.large.basic.label {
    min-height: 36px;
}
.react-datepicker__input-container {
  width: 100%;
}
#root .react-datepicker-wrapper{
  display: block;
}

.w50 {
  width: 50%;
}

.ui.small.form {
  font-size: .92857143rem;
  font-size: 13px;
}

.message-alert {
  margin: 5px;
  text-align: center;
  color: #21ba45;
  font-size: 17px;
  background: rgba(204, 249, 214, 0.42);
  border-radius: 15px;
  padding: 10px;
}

.text-cell{
  font-size: 12px;
}
#root form.small label {
  font-size: 13px;
  font-weight: bold;
}

.relative{
  position: relative;
}

.red{
  color: #db2828;
}

.orange{
  color: #f2711c;
}

.yellow{
  color: #fbbd08;
}

.green{
  color: #21ba45;
}

.pink{
  color: #e03997;
}

.blue{
  color: #2185d0;
}
.ui.attached.message {
  padding: 13px 16px;
  font-size: 13px;
}

div#view-print {
  font-size: 12px;
  padding: 45px;
  background: #757575;
  min-height: 450px;
}

div#view-print #paperA4-portrait {
  background: #fff;
  border-radius: 0px;
  box-shadow: 1px 1px 5px #111;
  padding: 15px;
  width: 100%;
  min-height: 1200px;
}

.react-datepicker-wrapper {
  width: 100%;
}


.td_zone{
  border-right: 2px solid #f00;
}


.ui.basic.nobarder.table tbody tr,.ui.basic.nobarder.table tr td{
  border: none;
}

.text-center {
  text-align: center;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: rgba(49, 49, 49, 0.87);
  /* font-family: sans-serif; */
}

img.ui.image.logo-login {
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  width: 57px;
}

.ui.segment.segment-login {
  padding: 13px 39px;
  width: 100%;
  padding-bottom: 45px;
  padding-top: 26px;
  box-shadow: 0px 0px 8px #c3c3c3;
  border: none;
}
a {
  color: #21282E;
  text-decoration: none;
  cursor: pointer;
}
div#root-content {  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  padding: 3%;
  padding-right: 3%;
  margin: auto;
  overflow-x: hidden;
  padding-top: 55px;
  z-index: 1;
}

.menu-top > .ui.pointing.secondary.menu {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  box-shadow: 1px 1px 2px #797979;
}

.ui.secondary.vertical.menu-left.menu {
  width: 100%;
}

.fixedDataTableLayout_main.public_fixedDataTable_main {
  border: none;
}

.fixedDataTableCellLayout_main.public_fixedDataTableCell_main {
  border: none;
  /* background: #fff; */
}

.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main{
  background: #565656;
  color: #fff;
}

button.ui.button {
  background: #e2e2e2;
}

.fixedDataTableLayout_main.public_fixedDataTable_main {
  border: 1px solid #eaeaea;
  /* border-radius: 3px; */
  overflow: hidden;
}

.ui.form input.text-right {
  text-align: right;
}

.form-pos {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 15px;
  border: 11px solid rgba(34, 36, 38, 0.3);
}

.react-contexify {
  z-index: 101;
}

.ui.search>.results {
  max-height: 300px;
  overflow-y: auto;
}
.button.btn-add-customer {
  margin-top: 24px;
}

.option-add > div.ui.fluid.dropdown {
  display: block;
  width: 90%;
}

.option-add > button{
  float: right;
}

div#content-body > div {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 5%;
  background: #fff;
  width: 100%; */
  /* opacity: 0.5; */
}

.ui.fluid.pointing.secondary.vertical.menu-report.menu {
  position: fixed;
  left: 22px;
  /* height: 100%; */
  overflow-y: auto;
  max-width: 275px;
  bottom: 20px;
  top: 64px;
  overflow-x: hidden;
  box-shadow: 0px 0px 2px #737373;
}

.scrolling.content {
  min-height: 430px;
}

.tabled-customer i.icon {
  font-size: 16px;
  color: #696969;
}

.cell_red {
  color: #afafaf;
  font-style: italic;
  text-decoration: line-through;
}

div#root-form-bill {
  background: #fff;
  border-top: 1px solid #ccc;
  margin: 0;
  padding-top: 18px;
}

.ui.labeled.icon.menu a.item {
  padding: 6px;
  font-size: 12px;
}

.ui.modal>.content {
  min-height: 500px;
}

.ui.header>.icon {
  display: inline-block;
  opacity: 1;
  font-size: 1.5em;
  padding-top: 0;
  vertical-align: middle;
}

/* .ui.fullscreen.modal {
  width: 100%!important;
  left: 0%!important;
  margin: 0em auto;
}

.modals.dimmer .ui.scrolling.modal {
  position: static!important;
  margin: 0 auto!important;
} */

.two.wide.field.text-right.green input[type="text"] {
  color: green;
}

.two.wide.field.text-right.red input[type="text"] {
  color: red;
}

.two.wide.field.text-right.yellow input[type="text"] {
  color: #8c8c07;
}

.ui.modal.transition .content {
  min-height: auto;
}

.ui.primary.button, .ui.primary.buttons .button {
  background-color: #2ea8ff;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.primary.button:hover, .ui.primary.buttons .button:hover {
  background-color: #42a1e8;
  color: #fff;
  text-shadow: none;
}

.ui.input.text-right input[type="number"] {
  text-align: right;
}

.ui.basic.button, .ui.basic.buttons .button {
  background: rgba(204, 204, 204, 0.31) none!important;
  color: rgb(0, 0, 0)!important;  
}

.public_fixedDataTable_header .public_fixedDataTableCell_main  .public_fixedDataTableCell_cellContent a {
  color: #fff;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main .public_fixedDataTableCell_cellContent a:hover {
  color: #ccc;
}

.ScrollbarLayout_main.ScrollbarLayout_mainHorizontal.public_Scrollbar_main.public_Scrollbar_mainOpaque {
  background: #f5f5f5;
}
.fixedDataTableLayout_main.public_fixedDataTable_main {
  background: #f5f5f5;
}

.public_fixedDataTable_main, .public_fixedDataTable_header, .public_fixedDataTable_hasBottomBorder {
  border-bottom: none;
}

.modal .ui.basic.button, .ui.basic.buttons .button {
  background: rgba(204, 204, 204, 0.31) none!important;
  color: rgb(0, 0, 0)!important;
  margin-top: 13px;
  margin-right: 13px;
}

.ui.search.dropdown>.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.input-search-customer .btn-add-customer {
  margin: 0;
  display: inline-block;
  width: 19%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
  height: 37.41px;
  margin-left: -1px;
  line-height: 1.5em;
}

.input-search-customer .field {
  width: 80%;
  display: inline-block;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
}

.input-search-customer .field .ui.fluid.search.selection.dropdown {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

body .ui.green.huge.basic.label {
  background-color: #fff!important;
}
body  ul.react-datepicker__time-list {
  padding: 0;
  margin: 0;
}

.ui.modal>.header:not(.ui){
  font-size: 1.1em;
  padding: 0.9em;
}
.ui.modal>.actions {
  padding: .7em;
}

.ui.attached.message {
  padding: 4px 8px;
  font-size: 13px;
}
button.ui.basic.circular.icon.right.floated.button {
  font-size: 9px;
}
.fixedDataTableCellLayout_wrap1 {
  display: table;
  width: 100%;
}
div#table_w {
  margin-bottom: 15px;
}
.field div.ui.basic.label {
  background-color: #fff!important;
}
a.link {
  color: #2a6c9e;
}
#root .ui .menu-report .menu>a.item.item {
  padding: 0.6em 2em;
}
#root .ui .menu-report .header{
  padding: 1em;
}
.fixedDataTableLayout_main.public_fixedDataTable_main {
  width: 100%!important;
}
.cell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  padding: 8px;
  width: 100%;
}

.cell-overflow {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pull-left {
  float: left;
  margin-right: 15px;
}
.ui.header .ui.fluid.dropdown {
  display: block;
  width: 100%;
  min-width: 0;
  padding: 11px;
  font-size: 13px;
  min-width: 200px;
  font-weight: lighter;
}

.fixedDataTableLayout_rowsContainer {

  position: relative;
}

.fixedDataTableRowLayout_rowWrapper {
  position: absolute;
  top: 0;
  max-width: 100%;
}

.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
  background: #565656;
  color: #fff;
}