{% load hosts %} 
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Title</title>

  <style>

    * { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
      padding: 0;
      margin: 0;
      background: #f6f6f6;
    }
    </style>

</head>
  <body>
    <table class="body-wrap">
      <tr><td></td>
        <td class="container" width="640">
          <div class="content">
            <table class="main" width="100%" cellpadding="0" cellspacing="0">
              <tr><td class="content-wrap">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr><td>
                    {% block content %}{% endblock %}
                  </td></tr>
                </table>
              </td></tr>
            </table>
          </div>
        </td>
      <td></td></tr>
    </table>
  </body>
</html>