{% extends 'mapi/mail/layout.html' %}
{% block content %}

เรียน คุณ {{customer.name}}<br/>
เรื่อง แจ้งเตือนการเข้าสู่ระบบ AA gold application<br/>
 <br/>
 ขอแจ้งการ Log-in เข้าสู่ระบบ AA gold application ตามวันและเวลาดังนี้
<br/><br/>
วันที่ทำรายการ : {{date}}
เวลาที่เข้าสู่ระบบ : {{time}}
<br/><br/>
ขอแสดงความนับถือ<br/>
ห้างทอง เอ เอ เยาวราช

{% endblock %}