{% extends 'mapi/mail/layout.html' %}
{% block content %}

เรียน คุณ {{otp.customer.name}}<br/>
เรื่อง แจ้งรหัส OTP สำหรับใช้งานระบบ AA gold application<br/>
 <br/>
 ขอแจ้งรหัส OTP: <b>{{otp.secret}}</b> 
<br/><br/>
ขอแสดงความนับถือ<br/>
ห้างทอง เอ เอ เยาวราช

{% endblock %}